<h1>回線ID: <%= @task.id %>のタスク詳細</h1>

<table class="table table-bordered">
  <tr>
    <th>回線ID</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to 'タスクの編集', edit_task_path(@task), class: 'btn btn-success' %>
<%= link_to 'タスクの削除', @task, method: :delete, data:{ confirm: '削除してよろしいですか？'}, class: 'btn btn-danger' %>